#code {
  font-family: monospace;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  padding: 6px;
  margin: 0px;
  color: white;
  transition: color 0.2s;
  cursor: default;
}

#code:hover {
  color: rgb(151, 151, 151);
  cursor: default;
}

.section {
  visibility: hidden;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter {
  font-family: monospace;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 36px;
  caret-color: transparent;
  border-radius: 8px;
  border-width: 1px;
  margin: 1px;
}

.letter.error {
  animation: error 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: rotate(0) translate(0, 0);
}

@keyframes error {
  from {
    background-color: rgb(255, 51, 51);
  }
  10% {
    transform: rotate(-4deg) translate(-1px, 0);
  }
  20% {
    transform: rotate(2deg) translate(2px, 0);
  }
  30%, 50%, 70% {
    transform: rotate(-2deg) translate(-2px, 0);
  }
  40%, 60% {
    transform: rotate(1deg) translate(1px, 0);
  }
}

.letter.good {
  animation: good 1s;
}

@keyframes good {
  from {
    background-color: rgb(30, 255, 30);
  }
}

.letter:focus {
  background-color: rgb(238, 233, 177);
}

.letter.win {
  background-color: rgb(30, 255, 30);
}

#history {
  font-family: monospace;
  font-size: 28px;
  padding-top: 8px;
  border-spacing: 8px;
}

#win {
  margin: 0;
  font-family: monospace;
  font-size: 34px;
}

.word {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translate(30px);
  margin: 4px;
}

button {
  visibility: hidden;
  font-family: monospace;
  font-size: 12px;
  padding: 0;
  margin-left: 15px;
  width: 45px;
  text-align: center;
  border: none;
  background: none;
  color: blue;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}

#alphabet {
  display: flex;
  flex-direction: row;
  font-family: monospace;
  font-size: 34px;
  margin-bottom: 27px;
  margin-top: 0;
  padding-top: 0;
}

td.left {
  display: flex;
  flex-direction: row;
}

.tableletter {
  position: relative;
  margin: 0;
}

.tableletter.alpha {
  padding-left: 2px;
  padding-right: 2px;
}

.tableletter:hover {
  cursor: default;
  background-color: rgb(238, 233, 177);
}

.tableletter.circled {
  text-decoration: underline;
}

.tableletter.circled.q {
  text-decoration: none;
}

.tableletter.circled.q:after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  border-bottom: 2px solid;
  border-color: inherit;
}

.tableletter.circled.q.alpha:after {
  left: 2px;
  bottom: -1px;
  right: 2px;
  border-bottom: 3px solid;
}

.tableletter.striked:before {
  position: absolute;
  content: "";
  left: -25%;
  top: 50%;
  right: -25%;
  border-top: 2px solid;
  border-color: inherit;
  
  transform:rotate(-50deg);
}

.tableletter.striked.alpha:before {
  left: -15%;
  right: -15%;
  border-top: 3px solid;
}

.tableletter.alpha.guessed {
  color: blue;
}