#code {
  font-family: monospace;
  font-size: 15px;
  position: fixed;
  top: 0;
  left: 0;
  margin: 7px;
  color: grey;
}

.section {
  visibility: hidden;
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.letter {
  font-family: monospace;
  width: 48px;
  height: 48px;
  text-align: center;
  font-size: 36px;
  caret-color: transparent;
  border-radius: 8px;
  border-width: 1px;
  margin: 1px;
}

.letter.error {
  animation: error 0.8s cubic-bezier(.36,.07,.19,.97) both;
  transform: rotate(0) translate(0, 0);
}

@keyframes error {
  from {
    background-color: rgb(255, 51, 51);
  }
  10% {
    transform: rotate(-4deg) translate(-1px, 0);
  }
  20% {
    transform: rotate(2deg) translate(2px, 0);
  }
  30%, 50%, 70% {
    transform: rotate(-2deg) translate(-2px, 0);
  }
  40%, 60% {
    transform: rotate(1deg) translate(1px, 0);
  }
}

.letter.good {
  animation: good 1s;
}

@keyframes good {
  from {
    background-color: rgb(30, 255, 30);
  }
}

.letter:focus {
  background-color: rgb(238, 233, 177);
}

.letter.win {
  background-color: rgb(30, 255, 30);
}

#history {
  font-family: monospace;
  font-size: 28px;
  padding-top: 8px;
  border-spacing: 8px;
}

td:left {
  text-align: right;
}

#win {
  margin: 0;
  font-family: monospace;
  font-size: 34px;
}

.word {
  display: flex;
  flex-direction: row;
  align-items: center;
  transform: translate(30px);
}

button {
  visibility: hidden;
  font-family: monospace;
  font-size: 12px;
  padding: 0;
  margin-left: 15px;
  width: 45px;
  text-align: center;
  border: none;
  background: none;
  color: blue;
  text-decoration: underline;
}

button:hover {
  cursor: pointer;
}